
<div class="bs-example">
    <div class="jumbotron">
        <h1>H5Forms application</h1>
       
        <div class="buttons-menu">
            <p><a href="@Url.Action("Index", "FormsAdmin")" class="btn btn-primary btn-lg" role="button">Form admin</a></p>
            <p><a href="@Url.Action("Index", "FormsTest")" class="btn btn-primary btn-lg" role="button" style="width: 130px;">Form test</a></p>    
        </div>
        
    </div>
</div>