html {    
    margin: 0;
    padding: 0;
}
body {
    padding: 5px 20px;
}
div{ display: block;}
ul {
    padding: 0;
}
iframe {
    border: 0;
    display: block;
    height: 500px;
    width: 100%;
}

.bs-example {
    margin-left: 0;
    margin-right: 0;
    background-color: #fff;
    border-width: 1px;
    border-color: #ddd;
    
    box-shadow: none;
    position: relative;
    padding: 85px 15px 15px;
    width: 900px;
    margin: 0 auto;
}

.jumbotron {
    border-radius: 10px ;
    text-align: center;
}
.jumbotron h1 {
    line-height: 100px;
}

.buttons-menu {
    margin-top: 30px;  
}


#formBuilder {
    margin: 30px 0 0 0;
}

#formBuilder  li {
    list-style: none;
}

#formBuilder .row {
     overflow: hidden;
    height: 100%;
}
#formBuilder .col-md-3, #formBuilder .col-md-6
{
  padding-bottom: 99999px; 
    float: left;
    margin-bottom: -99999px;
}
#formBuilder .panel {
    min-height: 600px;
}
/*FORM-VIEW*/
.form-view {
    margin-top: 14px; 
}
.form-view .control {
    padding: 16px 8px;    
    border: 1px solid #ffffff;  
}
.form-view .control:hover {
    border: 1px solid #cccccc;
}
.form-view  .control .delete-control {
    background: url(images/remove.png);  
    float: right;
    width: 16px;
    height: 16px;
    display: none;
    cursor: pointer;
    
}
.form-view .control.alert.alert-warning .delete-control {
    display: inline-block;    
}
.form-view ul, .form ul,.form .controls > div > div  {
    display: inline-block;
    min-width: 100px;
}
.form-view select {
    width: 60%;
}
.form-view label {
    vertical-align: top;    
}

.length-validation {
    width: 120px;
}
.small-comment {
    color: #cccccc;
    font-size: 10px;   
}
.check-list  li, .option-list  li {
    margin: 6px 0;
    vertical-align:  top;
    padding-right: 7px;
}
 .OneColumn {
    display: block;    
}
 .TwoColumns {
    display: inline-block;
    width: 49%;
}
 .ThreeColumns {
    display: inline-block;
    width: 33%;
}
.InLine {
    display: inline-block;
    margin-right: 4px; 
}
.input-group {
    margin-top: 4px;
}
.cursor{
    cursor: pointer;
}
.form-control {
    display: inline;
}
.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 100%; 
    height: 300px;
}

/*FORM*/
.form {
      width: 830px;
      margin: 40px auto 0 auto;
      padding: 14px;
      border-radius: 10px;
      border: 1px solid #cccccc;

  }
 .form li {
      list-style: none;
  }
 .form .controls > div {
       display: block;
       margin: 20px 0;
  }
 .form .submit {
     text-align: right;
     border-top: dotted 1px #cccccc;
     padding-top: 15px;
      
  }
 .required {
     color: red;
     position: relative;
     top: 3px;
     left: 5px;
     vertical-align:  top;
 }

 .labelLayoutBlock label  {
     display: block;   
 }
  
.labelLayoutInLine label{
     display: inline-block;
     width: 150px;
     position: relative;
     top: 5px;
     text-align: right;
     padding-right: 5px;
    vertical-align: top;
 }

.loading {
   background: url("Images/loading.gif") no-repeat center;
    padding: 40px;
    text-align: center;
    vertical-align: middle;
    width: 150px;
    position: relative;
    top: 40%;  
}

.reportButtons {
    margin: 10px 0;
}

.reportButtons p,.reportButtons form {
    display: inline;  
}

.reportButtons form {
    float: right;
}

