/*TAGS*/
html {    
    margin: 0;
    padding: 0;
}
body {    
    border-top: solid 10px #000;
    color: #333;
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
}
div{ display: block;}

#formBuilder {
    margin: 30px 0 0 0;
}

#formBuilder .row {
     overflow: hidden;
    height: 100%;
}
#formBuilder .col-md-3, #formBuilder .col-md-6
{
  padding-bottom: 99999px; 
    float: left;
    margin-bottom: -99999px;
}
#formBuilder .panel {
    min-height: 600px;
}
/*FORM-VIEW*/
.form-view .control {
    padding: 16px 8px;    
    border: 1px solid #ffffff;        
}
.form-view .control:hover {
    border: 1px solid #cccccc;
}
.form-view  .control .delete-control {
    background: url(images/remove.png);  
    float: right;
    width: 16px;
    height: 16px;
    display: none;
    cursor: pointer;
}
.form-view .control:hover .delete-control {
    display: inline-block;
}
