@{
    ViewBag.Title = "Form test";
}


<div class="panel panel-default">    
    <div class="panel-heading">
        Select a form <select></select>
    </div>
    <div class="panel-body" style="min-height: 600px;">
        <iframe ></iframe>
    </div>
    
</div>
