@{
    Layout = null;
}

<ul class="nav nav-tabs">
    <li ng-repeat="pane in panes" ng-class="{active: pane.selected}">
        <a href="" ng-click="setActivePane(pane)">{{pane.title}}</a>
    </li>
</ul>
<div ng-transclude></div>