@{
    Layout = null;
}
<div>       
    <div>
        <label>Size</label>
        <input type="number" min="10" ng-model="currentControl.size" class="form-control" />
    </div>    
    <div>
        <label>Is unique </label><input type="checkbox" ng-model="currentControl.isUnique" />
    </div>
</div>