@{
    Layout = null;
}

<div>
    <label>Title</label>
    <textarea ng-model="form.title" class="form-control"></textarea>
    <div>
        <label>Enabled: </label>
        <input type="checkbox" ng-model="form.enabled" />
    </div>
</div>
