@{
    Layout = null;
}

<div>
    <label>Title</label>
    <textarea ng-model="form.title" class="form-control"></textarea>
    <div>
        <label>Enabled: </label>
        <input type="checkbox" ng-model="form.enabled" />
    </div>
</div>
<div>
    <label>Label layout</label>
    <select ng-model="form.labelLayoutType" ng-options="labelLayout for labelLayout in labelLayoutTypes" class="form-control"></select>
</div>
