@{
    Layout = null;
}
<div>       
    <label>Text</label>
    <textarea ng-model="currentControl.text" class="form-control"></textarea>
    
    <div>
        <label>Font size: </label>
        <input type="number" min="1" ng-model="currentControl.fontSize" class="form-control" />
    </div>      
    <div>
        <label>Color: </label>
        <input type="color"  ng-model="currentControl.color" />
    </div> 
    <div>
        <label>Strong: </label>
        <input type="checkbox" ng-model="currentControl.strong" />
    </div> 
</div>