@{
    Layout = null;
}
<div class="control" ng-click="setcurrentControl(control)" ng-class="{'alert alert-warning': currentControl === control  }">
    <div ng-include="'Forms/Controls/' + control.controlType +'.cshtml'"></div>
    <span class="delete-control" ng-click="deleteControl(control)"></span>
</div>