@{
    Layout = null;
}
<label ng-style="{'font-size' : control.properties.fontSize + 'px', 'color': control.properties.color, 'font-weight' : control.properties.strong ? 'bold' : 'normal' }">{{control.text}}</label>