@{
    Layout = null;
}
<loading></loading>
<h1>Current forms</h1>

<p><a ng-click="createForm()" class="btn btn-primary btn-lg" role="button">Create form</a></p>
<div class="gridStyle" ng-grid="gridOptions"></div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 850px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Choose a link to include in your website</h4>
            </div>
            <div class="modal-body">
                <h4>URL</h4>
                <pre>
                    {{urlLink}}
                </pre>
                <hr />
                <h4>HTML link</h4>
                <pre>
                    {{aLink}}
                </pre>
                <hr />
                <h4>IFrame</h4>
                <pre>
                    {{iframe }}
                </pre>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>