@{
    Layout = null;
}
<loading></loading>
<h1>Form entries</h1>


@*<p><a ng-click="createForm()"   class="btn btn-primary btn-lg" role="button">Create form</a></p>*@

<div class="gridStyle" ng-grid="gridOptions"></div>